:root {
  --color-orange: #ff8000;
  --color-yellow: #fb0;
  --color-purple: #966bf4;
  --font-primary: "Lilita One", sans-serif, cursive;
  --font-secondary: "Bowlby One SC", sans-serif, cursive;
  --font-bangers: "Bangers", cursive;
}

body {
  background: #223;
  font-size: 16px;
}

h1 {
  font-size: 4em;
  font-family: var(--font-primary);
  color: var(--color-orange);
  text-align: center;
  background-image: linear-gradient(0deg, var(--color-orange) 41%, var(--color-yellow) 76%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 5px;
  padding: 10px;
  font-size: 3em;
  background-color: #505050;
  border-radius: 4px;
  border: 0;
  cursor: pointer;

  &:hover {
    background: linear-gradient(0deg, var(--color-orange) 41%, var(--color-yellow) 76%);
  }
}

.container-game-result {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-secondary);
  color: var(--color-purple);

  & .box-result {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2em;
  }

  & .text-result-game {
    font-size: 3em;
  }
}

.container-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vs {
  font-family: var(--font-bangers);
  font-weight: bold;
  font-size: 4em;
  color: var(--color-orange);
  text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 30%), 0 3px 5px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 20%), 0 20px 20px rgb(0 0 0 / 15%);
  padding: 0 10px;
}

.hidden {
  display: none;
}

@media only screen and (width <= 1440px) {
  body {
    font-size: 12px;
  }
}

@media only screen and (width <= 600px) {
  body {
    font-size: 10px;
  }
}
